

<div class="container">
    <video id="video" muted loop autoplay>
        <source src="./video/forest.mp4" type="video/mp4">
    </video> 
    <div class="overlay">
        <nav class="navbar-end">
        <li class="dropdown">	
            <button class="btn signIn-btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Sign In
              </button>
            <div class="dropdown-menu" id="formLogin">
                <div class="row">
                    <div class="container-fluid">
                        <form class="login-form">
                            <div class="form-group">
                                <label class="">Username</label>
                                <input class="form-control" name="username" id="email-login" type="text">
                            </div>
                            <div class="form-group">
                                <label class="">Password</label>
                                <input class="form-control" name="password" id="password-login" type="password">
                                <br class="">
                            </div>
                            <button type="submit" id="btnLogin" class="btn btn-success btn-sm">Login</button>
                        </form>

                    </div>
                </div>
            </div>
        </li>
    </nav>

        <h1>Carbon Combaters</h1>
            <a class="signUp-link" href="/sign">
             <button class="btn signUp-btn btn-secondary" type="button">
               Sign Up
            </button>
            </a> 
            
            <a class="learnMore-link" href="/learn">
             <button class="btn signUp-btn btn-secondary" type="button">
               Learn More
            </button>
            </a> 

            <a class="learnMore-link" href="/contact">
             <button class="btn contact-btn btn-secondary" type="button">
               Contact Us
            </button>
            </a> 
    </div>
</div>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>