

<div> 
<h1>this is the landing page</h1>
   {{!-- <video width="100%" loop autoplay controls > --}}
<video src="./video/flowing water.mp4" muted loop autoplay controls></video>
   <source src="">

   </video>
</div>
