<div class="jumbotron landingPic jumbotron-fluid">
   
        <nav class="navbar-end">
        <li class="dropdown">	
            <button class="btn signIn-btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </button>
            <div class="dropdown-menu" id="formLogin">
                <div class="row">
                    <div class="container-fluid">
                        <form class="login-form">
                            <div class="form-group">
                                <label class="">Email</label>
                                <input class="form-control" name="email" id="email-login" type="email">
                            </div>
                            <div class="form-group">
                                <label class="">Password</label>
                                <input class="form-control" name="password" id="password-login" type="password">
                                <br class="">
                            </div>
                            <button type="submit" id="btnLogin" class="btn btn-success btn-sm">Login</button>
                        </form>
                     
                    </div>
                </div>
            </div>
        </li>
    </nav>
    <img src="/css/69a6dfd6b52440228079e9a995b3e759__1_-removebg-preview.png">
<div>

       <a class="signUp-link" href="/sign">
            <button type="submit" id="btnSignUp" class="btn btn-lg">Sign Up</button>
            </a> 
            <a class="learnMore-link" href="/learn">
             <button id="btnLearn" class="btn btn-lg" type="button">
               Learn More
            </button>
            </a>
</div> 
    </div>

    {{!-- <video id="video" muted loop autoplay>
        <source src="./video/forest.mp4" type="video/mp4">
    </video> 
    <div class="overlay">
        <nav class="navbar-end">
        <li class="dropdown">	
            <button class="btn signIn-btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                LogIn
              </button>
            <div class="dropdown-menu" id="formLogin">
                <div class="row">
                    <div class="container-fluid">
                        <form class="login-form">
                            <div class="form-group">
                                <label class="">Email</label>
                                <input class="form-control" name="email" id="email-login" type="email">
                            </div>
                            <div class="form-group">
                                <label class="">Password</label>
                                <input class="form-control" name="password" id="password-login" type="password">
                                <br class="">
                            </div>
                            <button type="submit" id="btnLogin" class="btn btn-success btn-sm">Login</button>
                        </form>

                    </div>
                </div>
            </div>
        </li>
    </nav>

        <h1>Carbon Combaters</h1>
            <a class="signUp-link" href="/sign">
            <button type="submit" id="btnSignUp" class="btn btn-primary btn-sm">Sign Up</button>
            </a> 
            
            <a class="learnMore-link" href="/learn">
             <button class="btn learn-btn btn-secondary" type="button">
               Learn More
            </button>
            </a> 

            <a class="learnMore-link" href="/contact">
             <button class="btn contact-btn btn-secondary" type="button">
               Contact Us
            </button>
            </a> 
    </div> --}}
</div>

<script src="./js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
