

<div class="container">
    <video id="video" width ="100%" muted loop autoplay>
        <source src="./video/forest.mp4" type="video/mp4">
    </video>
    <div class="overlay">
        <h1>Carbon Combaters</h1>
        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam ex alias unde quidem in ad et ut odio fugiat rerum eos non quasi, quod earum repellendus cumque suscipit cum. Ipsa!</h3>
    </div>
</div>