<h1>this is the learn more page</h1>
<button class="btn signIn-btn btn-secondary" type="button"> Sign Up</button>

 <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

    
<figure class="highcharts-figure">
    <div id="containerA"></div>
    <p class="highcharts-description">
        Food accounts for 10-30% of the carbon footprint for a home, typically a higher portion in lower-income households.<sup>2</sup> Production accounts for 68% of food emissions, while transportation accounts for 5%. <sup>4</sup>
    </p>
</figure>

<div class="spacer"></div>

 
 <figure class="highcharts-figure">
    <div id="containerB"></div>
    <p class="highcharts-description">
        STUFF HERE.<sup>2</sup> Production accounts for 68% of food emissions, while transportation accounts for 5%. <sup>4</sup>
    </p>
</figure>