{{!-- 
<a class="signUp-link" href="/sign">
    <button type="submit" id="signup-btn" class="btn signup-btn btn-primary btn-sm">Sign Up</button>
</a> 


<h1>Lets look at the average footprint</h1>
         
 <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

    
<figure class="highcharts-figure">
    <div id="containerA"></div>
    <p class="highcharts-description">
        Food accounts for 10-30% of the carbon footprint for a home, typically a higher portion in lower-income households.<sup>1</sup> Production accounts for 68% of food emissions, while transportation accounts for 5%. <sup>2</sup>
    </p>
</figure>

<div class="spacer"></div>

 
 <figure class="highcharts-figure">
    <div id="containerB"></div>
    <p class="highcharts-description">
       Automobile fuel economy can improve 7-14% by simply observing the speed limit. Every 5 mph increase in vehicle speed over 50 mph is equivalent to paying an extra $0.20-$0.40 per gallon. <sup>3</sup> Reducing your speed decreases the need for oil drilling.  
    </p>
</figure>

<div class="slideshow-container">
    <div class="slides">
        <p>Reduce meat intake and food wastage.</p>
    </div>
    <div class="slides">
        <p>Walk, bike, carpool, use mass transit, or drive a best-in-class vehicle. Also ensure tires are properly inflated to increase fuel efficiency.</p>
    </div>
    <div class="slides">
        <p>Whether you hand wash dishes or use a dishwasher, follow recommended practices to decrease water and energy use and reduce emissions.</p>
    </div>
    <div class="slides">
        <p>Energy consumed by devices in standby mode accounts for 5-10% of residential energy use. Unplug electronic devices when not in use or plug them into a power strip and turn the power strip off.</p>
    </div>
    <div class="slides">
        <p>Choose energy-efficient lighting.</p>
    </div>
    <div class="slides">
        <p>Reduce what you send to a landfill by recycling, composting, and buying products with minimal packaging.</p>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<footer class="d-inline-flex p-2 learnReferences">

<li>1. Heller, M.C., et al. (2018). Greenhouse gas emissions and energy use associated with production of individual self-selected US diets. Environmental Research Letters, 13(4), 044004.</li>
<li>2 Boehm R., et al. (2018) "A Comprehensive Life Cycle Assessment of Greenhouse Gas Emissions from U.S. Household Food Choices."</li>
<li>3. U.S. DOE, Office of Energy Efficiency and Renewable Energy (EERE) (2021) “Driving More Efficiently.”</li>

</footer>  --}}
