<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script> 

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Chart showing average green house gas emissions per capita in the US.
    </p>
</figure>
<div class="youDo">
<h4>We know it can be hard to make big changes to your lifestyle or habits, but there are many things you can do in your life to cut down personal emissions.
</h4>

<h5>BBQ</h5>
<p>Propane and natural gas grills generate less carbon than coal, however are non renewable.  Your best bet is to use an electric grill, or keep your gilling time as low as possible. 
</p>

<h5>Phones</h5>
<p>Manufacturing a smartphone creates an estimated 66kg of carbon equivalent emissions – 350 times the phone’s weight. Buy only the devices you truly need, keep them a little longer and repair them when you can.
</p>

<h5>Diet</h5>
<p>Every day that you forgo meat and dairy, you can reduce your carbon footprint by 8 pounds—that’s 2,920 pounds a year. You can start by joining Meatless Mondays (https://www.mondaycampaigns.org/meatless-monday).</p>

<h5>Cars</h5>
<p>Follow these tips to effectively reduce emissions, drive more safely, and save money on fuel costs all at the same time: </p>
    <li>
        <ul>
            Drive efficiently – go easy on the gas pedal and brakes.
        </ul>
        <ul>
            Maintain your car – get regular tune-ups, follow the manufacturer's maintenance schedule,
 and use the recommended motor oil.
        </ul>
        <ul>
            Walk or bike when you can. Use the bike-share programs if your city or town has them.
        </ul>
        <ul>
            Take public transit when possible.
        </ul>
        <ul>
            Carpool with friends instead of driving alone. Use ride-sharing services.
        </ul>
    </li>

<h5>Miles</h5>
<p>
    Individuals can save more than $9,738 per year by taking public transportation instead of driving. Moreover, this mode can lead to substantial
 environmental benefits. If your commute is 20-miles round trip, the switch to public transportation could lower your carbon footprint by 4,800 pounds annually.

<h5>Home</h5>
<p>
    Insulate your home. 
    Switch to renewables. 
    Buy energy efficient. 
    Use less water.
    Turn off the lights.

<h5>Gas at Home</h5>
<p>Take advantage of the free home energy audits offered by many utilities. Then put the recommendations into practice. Simple measures,
 such as installing a programmable thermostat to replace your old dial unit or sealing and insulating heating and cooling ducts, 
can each reduce a typical family's carbon dioxide emissions by about 5 percent.
</p>

<h5>Recycle</h5>
<p>In most cases, recycling uses less energy, which translates into fewer fossil fuels burned and reduced emissions of greenhouse gasses that contribute to climate change.Project Drawdown estimates that recycling between 2020 and 2050 will reduce emissions by 5.5-6.02 gigatons of carbon dioxide
 (equivalent to taking over 1 billion cars off the streets for one year).
</p>

</div>
</script>
