<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Roboto+Condensed:wght@300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="./css/jass.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>My Profile</title>
</head>

<body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            Chart showing average green house gas emissions per capita in the US.
        </p>
    </figure>
    <div class="youDo">
        <h4>We know it can be hard to make big changes to your lifestyle or habits, but there are many things you can do
            in your life to cut down personal emissions.
        </h4>

        <h5>BBQ</h5>
        <p>Propane and natural gas grills generate less carbon than coal, however are non renewable. Your best bet is to
            use an electric grill, or keep your gilling time as low as possible.</p>
        <p>You grill {{profileCharts.bbq}} times
            per year, and the US national average is about 15 times per year. Consider adjusting your grill time
            downward to help reduce your carbon footprint.
        </p>

        <h5>Phones</h5>
        <p>Manufacturing a smartphone creates an estimated 66kg of carbon equivalent emissions – 350 times the phone’s
            weight. Buy only the devices you truly need, keep them a little longer and repair them when you can.
        </p>
        <p>Most households own 1 phone per person, and your household owns {{profileCharts.phones}} phones. Consider
            downsizing if you own 1 per person or more cell phones.</p>

        <h5>Diet</h5>
        <p>Every day that you forgo meat and dairy, you can reduce your carbon footprint by 8 pounds—that’s 2,920 pounds
            a year. You can start by joining Meatless Mondays (https://www.mondaycampaigns.org/meatless-monday).</p>
        {{#if profileCharts.meat}}
        <p>
            You reported a meat-lover's diet, which puts your carbon footprint about 25% above average! Consider
            reducing your overall footprint by switching from primarily red meat and pork to primarily chicken and fish
            instead.
        </p>
        {{/if}}
        {{#if profileCharts.average}}
        <p>
            You reported an average diet. Consider reducing your overall footprint by transitioning to a diet of
            primarily chicken and vegetables, which has a far lower carbon footprint.
        </p>
        {{/if}}
        {{#if profileCharts.nobeef}}
        <p>
            You reported a nobeef diet, which puts your overall carbon footprint well below average! If you wish to
            further reduce your carbon footprint, you could do so by working more plant-based protein into your diet in
            place of chicken and fish.
        </p>
        {{/if}}
        {{#if profileCharts.vegetarian}}
        <p>
            You reported a vegetarian diet, which puts your overall carbon footprint well below average!
        </p>
        {{/if}}
        {{#if profileCharts.vegan}}
        <p>
            You reported a vegan diet, which puts your overall carbon footprint well below average!
        </p>
        {{/if}}

        <h5>Cars</h5>
        <p>Follow these tips to effectively reduce emissions, drive more safely, and save money on fuel costs all at the
            same time: </p>
        <li>
            <ul>
                Drive efficiently – go easy on the gas pedal and brakes.
            </ul>
            <ul>
                Maintain your car – get regular tune-ups, follow the manufacturer's maintenance schedule,
                and use the recommended motor oil.
            </ul>
            <ul>
                Walk or bike when you can. Use the bike-share programs if your city or town has them.
            </ul>
            <ul>
                Take public transit when possible.
            </ul>
            <ul>
                Carpool with friends instead of driving alone. Use ride-sharing services.
            </ul>
        </li>
        {{#if profileCharts.electric}}
        <p>
            You own an electric car, which can reduce your overall carbon footprint by as much as 90% compared to
            gasoline cars, diesel cars, or public transport! Spread the good word to your friends.
        </p>
        {{else}}
        <p>
            You do not own an electric car, which can reduce your overall carbon footprint by as much as 90% compared to
            gasoline cars, diesel cars, or public transport! Consider switching to an electric car for a massive
            reduction in your overall carbon footprint.
        </p>
        {{/if}}

        <h5>Miles</h5>
        <p>
            Individuals can save more than $9,738 per year by taking public transportation instead of driving. Moreover,
            this mode can lead to substantial
            environmental benefits. Each mile you commute daily in a gas or diesel car adds about 24 pounds to your
            annual carbon footprint. You reported a {{profileCharts.miles}} mile daily commute.

        <h5>Home</h5>
        <p>
            Insulate your home.
            Switch to renewables.
            Buy energy efficient.
            Use less water.
            Turn off the lights.
        </p>
        <h5>Gas at Home</h5>
        <p>Take advantage of the free home energy audits offered by many utilities. Then put the recommendations into
            practice. Simple measures,
            such as installing a programmable thermostat to replace your old dial unit or sealing and insulating heating
            and cooling ducts,
            can each reduce a typical family's carbon dioxide emissions by about 5 percent.
        </p>

        <h5>Recycle</h5>
        <p>In most cases, recycling uses less energy, which translates into fewer fossil fuels burned and reduced
            emissions of greenhouse gasses that contribute to climate change.Project Drawdown estimates that recycling
            between 2020 and 2050 will reduce emissions by 5.5-6.02 gigatons of carbon dioxide
            (equivalent to taking over 1 billion cars off the streets for one year).
        </p>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
        integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
    <script src="./js/profile.js"></script>
    <script src="./js/learnMore.js"></script>

</body>

</html>