<div class="d-flex p-2 justify-content-center">
    <h2>Lets Learn More About You!</h2>
</div>

<form id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Electric Emissions</li>
    <li>Vehicle Emissions</li>
    <li></li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Electic Emissions</h2>
    <h3 class="fs-subtitle">Tell us about your living</h3>
    <input type="text" name="country" placeholder="What Country do you live in?" />
    <input type="text" name="state" placeholder="What State do you live in?" />
    <input type="text" name="cpass" placeholder="Energy output mwh/year" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Vehicle Emissions</h2>
    <h3 class="fs-subtitle">Tell us about your vehicle</h3>
    <input type="text" name="make" placeholder="Make" />
    <input type="text" name="model" placeholder="Model" />
    <input type="text" name="year" placeholder="Year" />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Computers</h2>
    <h3 class="fs-subtitle">Tell us about your computer</h3>
    <input type="text" name="fname" placeholder="number of pc's" />
    <input type="text" name="lname" placeholder="region" />
    <input type="text" name="phone" placeholder="usage/hour" />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
  </fieldset>
</form>

<script src="./js/questions.js"></script>
