{{!-- <section class="vh-100" style="background-color: white">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="carInput" class="form-control" />
                      <label class="form-label" for="">Number of cars</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="gasoline" id="gasoline" class="form-control" />
                      <label class="form-label" for="">gasoline: what does your car run on </label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="miles" id="miles" class="form-control" />
                      <label class="form-label" for="">miles per week</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="hours" id="hours" class="form-control" />
                      <label class="form-label" for="">hours at home</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="nattie" id="nattie" class="form-control" />
                      <label class="form-label" for="">gas: what type of gas does your home use</label>
                    </div>
                  </div>

                    <label for="home">What type of gas does your home use?</label>
                    <select class="custom-select" id="inputGroupSelect01">
                      
                      <input type="checkbox" name="nattie" value="nattie" id="nattie" checked>
                      <input type="checkbox" name="liquid" value="liquid" id="liquid" checked>
                      <input type="checkbox" name="fuel" value="fuel" id="fuel" checked> --}}
                      {{!-- <option selected>None</option> --}}
                      {{!-- <option value="" id="naturalGas">Natrual Gas</option>
                      <option value="" id="petrol">Liquid Petrol</option>
                      <option value="" id="fuelOil">Fuel Oil</option> --}}
                    {{!-- </select>  --}}



                  {{!-- <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="recycle" id="recycle" class="form-control" />
                      <label class="form-label" for="">yes: do you recycle</label>
                    </div>
                  </div> --}}
                  
                  {{!-- <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="bbq" id="bbq" class="form-control" />
                      <label class="form-label" for="">how many bbq /label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="phones" id="phones" class="form-control" />
                      <label class="form-label" for="">smart phones number</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="water" id="water" class="form-control" />
                      <label class="form-label" for="">plastic bottles number</label>
                    </div>
                  </div>
                  
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="meat" id="meat" class="form-control" />
                      <label class="form-label" for="">meat</label>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">calculate!</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 position-relative">

                <img src="https://media.istockphoto.com/photos/usa-in-globe-in-hands-elements-furnished-by-nasa-picture-id479711637?k=20&m=479711637&s=612x612&w=0&h=nof1BqKFR5rt5xU2dLsTcrD6HHKDgsJ6MMc1gvPTM3g="
                  class="sign-up-img" alt="image of earth in hands">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}
{{!-- <div class="d-flex p-2 justify-content-center">
    <h2>Lets Learn More About You!</h2>
</div>

<form id="msform">
		<div class="form-group">
			<label for="car">Number of cars you own</label>
      <div class="input-group">
        <input class="form-control" id="carInput" type="number" min="0">
      </div>
		</div>

    <div class="form-group gas">
      <label for="home">If you have a car, what does it run on?</label>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>None</option>
        <option value="" id="gasoline">Gasoline</option>
        <option value="" id="diesel">Diesel</option>
        <option value="" id="electric">Electric</option>
    </div>

    <div class="form-group">
			<label for="car">How many miles do you drive per week?</label>
      <div class="input-group">
        <input class="form-control" id="miles" type="miles" min="0">
      </div>
		</div>
    
    <div class="form-group">
			<label for="home">How many hours do you spend at home per day</label>
      <div class="input-group">
        <input class="form-control" id="hours" type="hours" min="0">
      </div>
		</div>
  <div class="form-group">

    <label for="home">What type of gas does your home use?</label>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>None</option>
      <option value="" id="naturalGas">Natrual Gas</option>
      <option value="" id="petrol">Liquid Petrol</option>
      <option value="" id="fuelOil">Fuel Oil</option>
    </select> --}}

  {{!-- <label for="home">Do you recycle?</label>
    <select class="custom-select" id="recycle">
      <option selected>None</option>
      <option value="" id="recycle">Yes</option>
      {{!-- <option value="2" id="recycleRadio2">No</option> --}}
    </select> --}}

	  {{!-- <label>Do you recycle</label>
			<div class="radio">
				<label>
					<input type="radio" name="recycleOptions" id="recyle" value="option1">
						Yes
				</label>
			</div>
		<div class="radio">
			<label>
				<input type="radio" name="recycleOptions" id="recycleRadio2" value="option2">
          No
		  </label>
	  </div>
  </div> --}}

  {{!-- <div class="form-group">
		<label for="car">How many times do you BBQ/year?</label>
    <div class="input-group">
      <input class="form-control" id="bbq" type="bbq" min="0">
    </div>
	</div>

  <div class="form-group">
		<label for="car">How many smart phones are in your household?</label>
    <div class="input-group">
      <input class="form-control" id="phones" type="phones" min="0">
    </div>
	</div>
  
  <div class="form-group">
		<label for="car">How many plactic bottles do you use?</label>
    <div class="input-group">
      <input class="form-control" id="water" type="water" min="0">
    </div>
	</div>


   <div class="form-group">
    <label for="home">How much meat do you consume?</label>
    <select class="custom-select" id="inputGroupSelect01">
      <option value="1" id="meat">Meat Lover</option>
      <option value="2" id="average">Average</option>
      <option value="3" id="nobeef">No beef</option>
      <option value="4" id="vegetarian">Vegetarian</option>
      <option value="5" id="vegan">Vegan</option>
    </select>
  </div>
  <br/>
	<button id="calculate-btn" type="submit" class="btn btn-success btn-lg btn-block">Calculate</button>
</form> --}}

{{!-- <script src="./js/newQuestions.js"></script> --}}



{{!-- ALL THE COMMENTED OUT CODE BELOW IS FOR A FORM THAT BREAKS THE SUBMIT BUTTON ON THE NEWQUESTIONS.JS FILE --}}



<div class="d-flex p-2 justify-content-center">
    <h2>Lets Learn More About You!</h2>
</div>

<form id="msform">
		<div class="form-group">
			<label for="car">Number of cars you own</label>
      <div class="input-group">
        <input class="form-control" id="carInput" type="number" min="0">
      </div>

		</div>

{{!-- ================ WHAT DOES YOUR CAR RUN ON =========================== --}}

<div class="question">
    <p>If you have a car, what does it run on?</p>
    <div class="question-answer">
    
    <div>
      <input type="checkbox" id="gasoline" name="gasoline"
             checked>
      <label for="gasoline">Gasoline</label>
    </div>

    {{!-- <input type="radio"  id="gasoline" name="gasoline">
    <label for="gasoline" class="radio"><span>Gasoline</span></label> --}}
    
    {{!-- <input type="radio"  id="diesel" name="gasoline">
    <label for="diesel" class="radio"><span>Diesel</span></label>
    
    <input type="radio" id="electric" name="electric">
   <label for="electric" class="radio"><span>Electric</span></label> --}}
    
    </div>
    </div> 
{{!-- ================ WHAT DOES YOUR CAR RUN ON =========================== --}}

 {{!--      miles IS CHANGED AND DONE            --}}
    <div class="form-group"> 
			<label for="car">How many miles do you drive per week?</label>
      <div class="input-group">
        <input class="form-control" id="miles" type="miles" min="0">
      </div>

   {{!--       hours IS CHANGED AND DONE            --}}
     <div class="form-group">
			<label for="home">How many hours do you spend at home per day</label>
      <div class="input-group">
        <input class="form-control" id="hours" type="hours" min="0">
      </div>
		</div> 


 <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="miles" id="miles" class="form-control" />
                      <label class="form-label" for="">miles per week</label>
                    </div>
                  </div>

   {{!--       THIS SECTION IS CHANGED AND DONE            --}}
    <div class="question">
    <p>What type of gas does your home use</p>
    <div class="question-answer">
    
    <input type="radio"  id="nattie" name="nattie">
    <label for="nattie" class="radio"><span>Natural Gas</span></label>
    
    <input type="radio"  id="liquid" name="fuel">
    <label for="liquid" class="radio"><span>Liquid Petrol</span></label>
    
    <input type="radio" id="fuel" name="fuel">
   <label for="fuel" class="radio"><span>Fuel Oil</span></label>
    
    <input type="radio"  name="none">
    <label for="none" class="radio"><span>None/Other</span></label>
    </div>
    </div> 
{{!--             THE ABOVE SECTION IS CHANGED AND DONE              --}}
	   
{{!-- eeddwedwqwqddwq
wdqqwdwdq --}}

     {{!--                   RECYCLE IS CHANGED AND DONE --}}
     <div class="question">
    <p>Do You Recycle</p>
    <div class="question-answer">
    
    <input type="radio"  id="recycle" name="recycle">
    <label for="recycle" class="radio"><span>Yes</span></label>
    
    <input type="radio"  id="" name="">
    <label for="" class="radio"><span>No</span></label>
    </div>
    </div> 

{{!--                   RECYCLE IS CHANGED AND DONE --}}
                                   


{{!--           BBQ IS CHANGED AND DONE          --}}
  <div class="item">
        <p>How many times a year do BBQ?</p>
        <input type="bbq" name="bbq" id="bbq" min="0">
      </div>
{{!--           BBQ IS CHANGED AND DONE          --}}


{{!--           PHONES IS CHANGED AND DONE          --}}

 <div class="item">
        <p>How many phones do you use?</p>
        <input type="phones" name="phones" id="phones" min="0">
      </div>

{{!--           PHONES IS CHANGED AND DONE          --}}



{{!--          WATER IS CHANGED AND DONE          --}}
 <div class="item">
        <p>How many water bottles do you drink in a day?</p>
        <input type="water" name="water" id="water" min="0">
      </div>
{{!--          WATER IS CHANGED AND DONE          --}}


  {{!--        DIET IS CHANGED AND will need formatted        --}}
<div class="question"></div>                      `               
<p>What is your diet like?</p>                                     
<div class="question-answer"></div>                                      
<input type="radio" id="meat" name="meat">                                        
<label for="meat" class="radio"><span>Meat Lover Diet</span></label>                                        
 <input type="radio"  id="average" name="average">                                      
 <label for="average" class="radio"><span>Average Diet</span></label>                                       
 <input type="radio" id="nobeef" name="nobeef"/>                                       
 <label for="nobeef" class="radio"><span>No Beef Diet</span></label>                                        
 <input type="radio" value="none" id="vegetarian" name="vegetarian">                                         
<label for="vegetarian" class="radio"><span>Vegetarian</span></label>                                        
<input type="radio" value="" id="vegan" name="vegan">                                   
<label for="vegan" class="radio"><span>Vegan</span></label>                                          
 </div>                                       
  </div>                                       
                                          
                                        
                                      
                                    

  <br/>
	<button id="calculate-btn" type="submit" class="btn btn-success btn-lg btn-block">Calculate</button>
</form>

<script src="./js/newQuestions.js"></script> 
