
 .container { 
    position:relative;
    margin:0;
    padding:0;
 }
  .container video {
      position:relative;
      z-index:0;
  }
  .overlay {
      position:absolute;
      top:0;
      left:0;
      z-index:1;
  } 
   
h1{
    color: blue;
    font-size: 3rem;
}

h3{
    color: blue;
}

li{
    list-style-type: none;
}

.dropdown-toggle {
    background-color: #104009;
}

.sign-up-img{
    position: absolute;
    border-radius: 50%;
    width: 75%;
    height: 65%;
    left: 10%
}

.learnReferences{
    display:inline-block;
    margin-top: 10%;
    font-size: .8rem;
}

/* ====================================== HIGH CHARTS PIE CHART LEARN MORE PAGE====================================== */
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

input[type="number"] {
    min-width: 50px;
}

.spacer {
    height: 100px;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
/* ====================================== HIGH CHARTS PIE CHART LEARN MORE PAGE====================================== */
/* ======================================== HIGH CHARTS GRAPH PROFILE PAGE ========================================== */
#container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
  }
  
  .buttons {
    min-width: 310px;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0;
  }
  
  .buttons button {
    cursor: pointer;
    border: 1px solid silver;
    border-right-width: 0;
    background-color: #f8f8f8;
    font-size: 1rem;
    padding: 0.5rem;
    transition-duration: 0.3s;
    margin: 0;
  }
  
  .buttons button:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
  }
  
  .buttons button:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-right-width: 1px;
  }
  
  .buttons button:hover {
    color: white;
    background-color: rgb(158 159 163);
    outline: none;
  }
  
  .buttons button.active {
    background-color: #0051b4;
    color: white;
  }
